
{% extends 'base.html.twig' %}

{% block title %}Add Actor{% endblock %}

{% block body %}
  <div class="card shadow-sm mx-auto" style="max-width:600px;">
    <div class="card-body">
      <h2 class="card-title mb-4 text-white">Create Actor</h2>
      {{ form_start(form) }}
        <div class="mb-3">
          {{ form_row(form.name, {
            attr: {
              class: 'block w-full bg-gray-800 text-gray-200 border border-gray-700 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500'
            }
          }) }}
        </div>
        <button class="btn btn-success">Save</button>
        <a href="{{ path('app_actor_index') }}" class="btn btn-link">Cancel</a>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
